/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main__background {
    background-color: #f4f3f4;
    text-align: center;

}


.header__h1 {
    color: #2c303f;
    text-align: left;
    font-size: 2em;

}

.header__h2 {
    color: #2c303f;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
    
}

.header__div {
    text-align: left;
}

.container__image1 {
    width: 100%;
    background-color: lightblue;
    text-align: center;
}

.image{
    max-width: 100%;
}



p {
    color: #5b5e6d;
}

.signin {
    text-align: center;
}


.footer__links {
    background-color: #f4f3f4;
}


.header{
    display: flex;
    justify-content: space-between;
    color: #5b5e6d;
    position: sticky;
}

.header__burger{
    height: auto;
    display: flex;
    align-items: center;
}

.logo{
    display: inline-block;
    width: 100px;
}

.logo__img {
    max-width: 100%;
    margin-top: 10px;

}

.burger{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger__line{
    width: 100%;
    height: 4px;
    background-color: black;
}

.navigation {
    display: none;
}
.navigation__list{
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navigation__item{
    margin-left: .5em;
}

.container__image2 {
    width: 100%;
    background-color: lightblue;
    text-align: center;
}




@media screen and (min-width: 1200px){
    .navigation{
        display: inline-block;
    }
    .burger{
        display: none;
    }
}


.button {
    border: 1px solid currentColor;
    color: black;
    background-color: white;
    width: 100%;
    padding: .5em 0;
    text-align: center;

}

.button--blue {
    background-color: #192592;
    color: white;
    border: 1px solid currentColor;

}

.button--discover {
    background-color: white;
    color: blue;
    border: 2px solid currentColor;
    font-style: bold;
    margin: 2px 0 2px 0;
}








































