/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}


h1 h2 {
    color: #2c303f;
}

p {
    color: #5b5e6d;
}


.footer__links {
    background-color: #f4f3f4;
}


.header{
    display: flex;
    justify-content: space-between;
    color: #5b5e6d;
    position: sticky;
}

.header__burger{
    height: auto;
    display: flex;
    align-items: center;
}

.logo{
    display: inline-block;
    width: 100px;
}

.logo__img {
    max-width: 100%;

}

.burger{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger__line{
    width: 100%;
    height: 4px;
    background-color: black;
}

.navigation {
    display: none;
}
.navigation__list{
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navigation__item{
    margin-left: .5em;
}

@media screen and (min-width: 700px){
    .navigation{
        display: inline-block;
    }
    .burger{
        display: none;
    }
}

/*


.button {
    border: 1px solid currentColor;
    color: black;
    background-color: white;
    width: 100%;
    padding: .5em 0;

}

.button--blue {
    background-color: #192592;
    color: white;

}

*/





































